.mainContainer{
    float: left;
    background: rgb(255, 192, 203,0.1);
    width: 68%;
    height: 100vh;
    display: inline-block;


}
.innerContainer{
    background-color:rgb(231,233,236,0.8);
    width: 100%;
    height: 8%;
    /* height: 80vh; */
}

.profileContainer{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 8px;
    float: left;
  }
  .profileContainer:hover{
    cursor: pointer;
  }
  .name{
    margin: 0px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 19px;
  }
  .messageContainer{
    overflow: auto;
    height: 80%;
    /* height: 50%; */
    /* overflow: auto; */
  }
  .phoneIcons{
    display: inline;
    margin-left: 63%;
  }
  .messageList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
  }
  .sendMessage{
    /* margin-left: 830px; */
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    word-break: break-all;

    background-color: #d9fdd3;
    padding: 5px;
    height: auto;
    border-radius: 5px;
    width: 30%;
    border-top-right-radius:10px;
  }
  .sendMessagetime{
    font-size: 10px;
    position: relative;
    width: 60px;
  }
  .receiveMessage{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    word-break: break-all;


    background-color: #fff;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    padding-bottom: 8px;
  }

.receiver{
  margin-top: 10px;
}
.sender{
  margin-top: 10px;

}
.videoContainer{
  display: flex;
  flex-direction: row;
  z-index: 99999;
  position: fixed;
}
.videoLocal{
  /* z-index: 9999; */
  position: absolute;
  top: 220px;
  left: 290px;
  /* top: ; */

}
.micMuteIcon{
  position: absolute;
  left: 0px;
  width: 40px;
  fill: white;
  top: 250px;
  left: 120px;
  background-color: lightblue;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.micIcon{
  position: absolute;
  left: 0px;
  width: 40px;
  fill: white;
  top: 250px;
  left: 120px;
  background-color: lightblue;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  /* background-color: ; */
}
.videMuteIcon{
  position: absolute;
  left: 170px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  top: 250px;
  color: white;
  background-color: lightblue;
  z-index: 99999;  
}
.videoIcon{
  position: absolute;
  left: 170px;
  width: 40px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  top: 250px;
  color: white;
  background-color: lightblue;

  z-index: 99999;
}
.videoRemote{

}

.local{
  border-radius: 20px;
  width: 100px;
}
.remote{
  border-radius: 20px;
  width: 400px;
}
.phoneIconContainer{
  display: inline;
  z-index: 9999;
}
.phoneIcons{
  z-index: 9999;
  width:20px;
}
.phoneIcons:hover{
  background-color: lightblue;
  padding: 5px;
  width:30px;
  border-radius: 50px;
}
.phoneIcons:active{
  fill: #fff;
  background-color: lightsteelblue;
  
}